@page "/"

<PageTitle>AOC2023 - Home</PageTitle>

<hgroup>
	<h1>Advent of Code 2023</h1>
	<h2>Web Application for running code in-browser</h2>
</hgroup>


<p>This is still a work in progress. Check back later for more information.</p>

<h3>Libraries</h3>

<p>This project was made possible by utilizing several different open source projects:</p>

<ul>
	<li><a href="https://github.com/tabler/tabler-icons" target="_blank">Tabler Icons (MIT)</a></li>
	<li><a href="https://github.com/picocss/pico" target="_blank">Pico CSS (MIT)</a></li>
</ul>
