/**
 * Docs: Navs
 */
nav {
    --nav-link-spacing-vertical: 1rem;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--nav-background-color);
    box-shadow: 0px 1px 0 var(--nav-border-color);
}

    nav.container-fluid {
        padding-right: calc(var(--spacing) + var(--scrollbar-width, 0px));
    }

    nav a {
        border-radius: 0;
    }

    nav ul:first-of-type {
        margin-left: calc(var(--spacing) * -1);
    }

        nav ul:first-of-type li {
            padding: 0;
        }

            nav ul:first-of-type li:first-of-type a {
                display: block;
                margin: 0;
                padding: 0;
                background: var(--h1-color);
                color: var(--nav-logo-color);
            }

                nav ul:first-of-type li:first-of-type a i {
                    display: block;
                    width: 3.5rem;
                    height: 3.5rem;
                    font-size: 3.5rem;
                }

            nav ul:first-of-type li:nth-of-type(2) {
                display: none;
                margin-left: calc(var(--spacing) * 1.5);
                color: var(--h1-color);
            }

            nav ul:first-of-type li:nth-of-type(2) h4 {
                margin: 0;
            }

    nav ul:last-of-type li:last-of-type a {
        display: block;
        margin: 0;
        padding: 0;
    }

    nav ul:last-of-type li:last-of-type a i {
        padding: 0.2rem;
        font-size: 1.25rem;
        background: var(--h1-color);
        color: var(--nav-logo-color);
        border-radius: 50%;
    }

@media (min-width: 992px) {
    nav ul:first-of-type li:nth-of-type(2) {
        display: inline;
    }
}
