
<nav class="container-fluid">
	<ul>
		<li>
			<a href="/">
				<i role="img" class="ti ti-christmas-tree"></i>
			</a>
		</li>
		<li><h4>Advent of Code 2023</h4></li>
	</ul>
	<ul>
		<li>
			<a href="http://github.com/niklas2810/aoc-2023" target="_blank">
				<i class="ti ti-brand-github-filled"></i>	
			</a> 
		</li>
	</ul>
</nav>

