@inherits LayoutComponentBase
<div id="app">
	<Header />
	<main class="container">
		<Sidenav />
		<!--<div class="top-row px-4">
			<a title="Source on GitHub" class="ti ti-brand-github-filled" target="_blank" href="https://github.com/niklas2810/aoc-2023"></a>
		</div>-->

		<div role="document">
			@Body
		</div>
	</main>
</div>
