<aside>
	<nav class="@NavMenuCssClass" @onclick="ToggleNavMenu">
		<a href="./" class="secondary" id="toggle-docs-navigation">
		  <svg xmlns="http://www.w3.org/2000/svg" class="expand" fill="currentColor" viewBox="0 0 16 16" height="16px">
			<title>Expand</title>
			<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
		  </svg>
		  <svg xmlns="http://www.w3.org/2000/svg" class="collapse"  fill="currentColor" viewBox="0 0 16 16" height="16px">
			<title>Collapse</title>
			<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"></path>
		  </svg>
		  Table of contents
		</a>



		<div class="nav-item">
			<h5>Navigation</h5>
		</div>

		<div class="nav-item">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="ti ti-home" aria-hidden="true"></span> About
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink class="nav-link" href="executor">
				<span class="ti ti-tools" aria-hidden="true"></span> Web Executor
			</NavLink>
		</div>
		<div class="nav-item">
			<a class="nav-link" href="https://github.com/niklas2810/aoc-2023/issues/new">
				<span class="ti ti-question-mark" aria-hidden="true"></span> Open an Issue
			</a>
		</div>
	</nav>
</aside>


@code {
	private bool opened = true;

	private string? NavMenuCssClass => opened ? "open" : "closed-on-mobile";

	private void ToggleNavMenu()
	{
		opened = !opened;
	}
}
